.spinner {
  margin: 0px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#player {
	text-align: center;
	//margin-top: 30%;
	color: #000;
	z-index:10
}

#player button {
	border-radius: 40%;
	font-size: 1em;
	color:#505050;
	box-shadow:0 2px 7px #787878;
	background-color: #fff;
	border:none;
	padding:20px;
	margin: 5px
}

#progressBar {
	height: 7px;
	//background-color: grey;
	position:relative;
	width:100%;
	border-radius:10px;
	border:0.5px solid #ccc;
}

#progressBarWrapper {
	width:65%
}

#preloadedBar {
	width: 5%;
	height: 7px;
	background-color: rgb(126, 206, 244, 0.4);
	position: absolute;
	left:0;
	top:0;
	border-radius:10px;
}

#loadedBar {
	width: 1%;
	height: 7px;
	background-color: #7ecef4;
	position: absolute;
	left:0;
	top:0;
	z-index:10;
	border-radius:10px
}

#playerBarWrapper p, #playerBarWrapper div {
	display: inline-block
}

#playerBarWrapper {
	width: 100%;
	margin-top:10%;
}

#playBtn {
	box-shadow: 0 0 20px #ccc;
	width: 55%;
	display:block;
	border-radius:50%;
	margin: 0 auto;
	margin-bottom:10%
}

#slider {
	width: 20px;
	height: 20px;
	background-color: #30a7e0;
	border-radius: 30%;
	position: absolute;
	left: 0;
	top: -7px;
	z-index: 11;
	box-shadow: 0 0 10px #ccc
}

#playerBtnsWrapper {
	margin-top: 5%;
}

#curTime, #duration {
	font-size:1em;
	margin: 0 10px;
}

#back {
	border-radius:50%;
	width:70px;
	position:absolute;
	top:50px;
	left:50px;
}

#player p {
	color:white
}

/* #5DBCD2 */

#songTitleText {
	background-color: rgb(0,0,0,0.2);
	padding:5px;
	margin:0 auto;
	width:50%;
	border-radius: 7px;
}

#collapseBtn {
	background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    position: absolute;
    right: 20;
    top: 10;
    margin: 0;
    font-size: 1.4em;
    z-index:100;
}

#collapsedPlayBtn {
	background-color: transparent;
    border: none;
    /* font-size: 2em; */
    /* box-shadow: 0 0 10px; */
    /* padding: 10px; */
    border-radius: 50%;
    text-align: center;
    margin-left:10px;
}

#collapsedPlayBtn span {
	font-size: 2em;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    padding: 30%;
    background-color:white;
}

#collapsedPlayer {
	display:none;
	background-image:url('../img/collapsed_waves_water.gif');
	background-size:cover;
	background-repeat:no-repeat;
	border-radius:5px 5px 0 0;
	height:100%;
	box-shadow: 0 0 15px #ccc;
}